body {
  background-color: #ccc9dc;
  color: #141f30;
  font-size: 30px;
  font-family: 'Montserrat', 'sans-serif'
}

h1 {
  font-family: 'Roboto Slab', 'serif';
  color: #324a5f;
  font-size: 60px;
}

h2 {
  font-family: 'Montserrat', 'sans-serif';
  color: black;
}

a {
  color: white;
  text-decoration: none
}

a:hover {
  color: #e11531;
}

.profile-images {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: solid 5px black;
}

.film-images {
  height: 300px;
  width: 350px;
  border-radius: 10px;
}

.container {
  text-align: center;
  width: 1000px;
  margin: 30px auto;
}

.card {
  border-spacing: 30px;
  background: white;
  margin: 20px auto;
  padding: 20px 20px;
  border-radius: 20px;
}

.btn-red {
  background-color: #324a5f;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.list-inline li {
  display: inline-block;
  text-align: center
}

@media (max-width: 1280px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


